{% extends "base.html" %}

{% block title %}Applicant Dashboard{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}

{% block body %}
    <header id="header" class="alt">
	<span class="logo"><a href="{{url_for('main')}}"><img src="../static/res/p2p_logo.png" alt="" /></a></span>
	</header>

	<div id="wrapper">

		<!-- Nav -->
		<nav id="nav" class="nav nav-pills justify-content-center">
			<ul id="myTab">
				<li class="nav-item"><a style="color: #636363" class="nav-link" id="profile" href="{{url_for('appl_dashboard_profile')}}">Profile</a></li>
				<li class="nav-item"><a style="color: #636363" class="nav-link" id="new_app" href="{{url_for('appl_dashboard_new_app')}}">New Application</a></li>
				<li class="nav-item"><a style="color: #636363" class="nav-link" id="my_loan" href="{{url_for('appl_dashboard_my_loan')}}">My Loans</a></li>
				<li class="nav-item"><a style="color: #636363" class="nav-link" id="logout" href="{{url_for('signout')}}">Logout</a></li>
			</ul>
		</nav>

		<div id="main">
			<section id="content" class="main">
				<div class="container">

					{% if tab == 'profile' %}
						{% include "profile.html" %}

					{% elif tab == 'new_app' %}
						{% include "new_app.html" %} 

					{% elif tab == 'my_loan' %}
						{% include "my_loan.html" %}
						{% include "repay_loan.html" %}

					{% endif %}

				</div>
			</section>
		</div>
		{% include "footer.html" %}
	</div>
{% endblock %}

{% block footer %}
	{% if tab == 'profile' %}
		<script type="text/javascript">
	   	$('#profile').addClass('active')
	   </script>

   {% elif tab == 'new_app' %}
		<script type="text/javascript">
	   	$('#new_app').addClass('active')
	   </script>

	{% elif tab == 'my_loan' %}
		<script type="text/javascript">
	   	$('#my_loan').addClass('active')
	   </script>

	{% endif %}
{% endblock %}